.form-container
h2 Login
.alert.alert-danger
.alert.alert-success
form(method='post')
.form-group
label(for='username') Username
input#username.form-control(type='text', name='username', value='')
.form-group
label(for='password') Password
input#password.form-control(type='password', name='password')
.form-group
button.btn.btn-primary(type='submit') Login
a.btn.btn-link(href='/register') Register